{%extends "base.html"%}
{%block title%}α Motor Works{%endblock%}
{%block navbarlist%}
<ul class="navbar-nav ms-auto me-3">
  <li class="dropdown custom-accicon-div active d-flex justify-content-center align-items-center ">
    <a href="#" class="custom-accicon fa-solid fa-user" data-bs-toggle="dropdown" aria-expanded="false"></a>
    <div class="dropdown-menu">
        <div class="row g-0 custom-cust-card ">
            <div class="col-sm-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <i class="custom-accicon-form fa-solid fa-user"></i>
              <h5>Marie Horwitz</h5>
              <p>Web Designer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-sm-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">info@example.com</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">123 456 789</p>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">Dolor sit amet</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </li>
  <li class="nav-item" style="padding: 0%;">
    <a class="nav-link" href="/Logout" style="display:inline-block; padding-left: 1px;">Logout</a>
  </li>
</ul>


{%endblock%}
{%block content%}
<div class="row">
<div class="dashboard " >
    <ul style="margin-top: 150px; display: inline-block; list-style: none;">
        <li>
            <a id="appointment" href="#">Add Vehicle</a>
        </li>
        <li>
            <a href="bill">View Bill</a>
        </li>
        <li>
            <a href="feedback">Feedback</a>
        </li>
    </ul>
</div>


<!-- appointment-form -->
<div class="" style="margin-top: 100px;">
<form class="appoint-form appoint-form-none">
    <h3 class="d-flex justify-content-center pb-4">Book A Slot</h3>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="form6Example1" class="form-control" name="brand" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example1">Brand</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" id="form6Example2" class="form-control" name="model" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example2">Model</label>
        </div>
      </div>
    </div>
  
    <!-- Text input -->
    <div class="form-floating mb-4">
      <input type="text" id="form6Example3" class="form-control" name="chasis_no" placeholder="name@example.com"/>
      <label class="form-label" for="form6Example3">Chasis Number</label>
    </div>
  
    <!-- Text input -->
    <div class="form-floating mb-4">
      <input type="checkbox" id="form6Example4" class="form-control" name="req_service" placeholder="name@example.com"/>
      <label class="form-label" for="form6Example4">Service Type</label>
    </div>
  
    <!-- Email input -->
    <div class="form-floating mb-4">
      <input type="email" id="form6Example5" class="form-control" name="selected_slot" placeholder="name@example.com"/>
      <label class="form-label" for="form6Example5">Slot</label>
    </div>
  
    <!-- Message input -->
    <div class="form-floating mb-4">
      <textarea class="form-control" id="form6Example7" rows="4" placeholder="name@example.com"></textarea>
      <label class="form-label" for="form6Example7">Any Additional Request</label>
    </div>
  
    <!-- Checkbox
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
      <label class="form-check-label" for="form6Example8"> Create an account? </label>
    </div> -->
  
    <!-- Submit button -->
    <a type="submit" class="d-flex justify-content-center btn  btn-block mb-4" style="background-image:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);">Place order</a>
  </form>
</div>
</div>



<!-- customer-bill -->





<div class="container appoint-form">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order # 12345</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					John Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					Jane Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Cash
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					March 7, 2014<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong></strong></td>
        							<td class="text-center"><strong></strong></td>
        							<td class="text-right"><strong>Price</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>BS-200</td>
    								<td class="text-center"></td>
    								<td class="text-center"></td>
    								<td class="text-right">$10.99</td>
    							</tr>
                                <tr>
        							<td>BS-400</td>
    								<td class="text-center"></td>
    								<td class="text-center"></td>
    								<td class="text-right">$60.00</td>
    							</tr>
                                <tr>
            						<td>BS-1000</td>
    								<td class="text-center"></td>
    								<td class="text-center"></td>
    								<td class="text-right">$600.00</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">$670.99</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$15</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">$685.99</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
{%endblock%}

