{%extends "base.html"%}
{%block title%}Signup{%endblock%}
{%block head%}
{%endblock%}
{%block content%}
{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages%}
{%for category,message in messages%}
  {%if category == 'success' %}
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <div>
      {{message}}
    </div>
    <button type="button" class="close ms-auto btn" data-bs-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%elif category == 'error' %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
      {{message}}
    </div>
    <button type="button" class="close ms-auto btn" data-bs-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%endif%}
{%endfor%}
{%endif%}
{%endwith%}
<form action="/Signup" method="post">
  <div class="content">
    <main class="form-signin w-100 m-auto mt-5">
        <form action="/Signup" method="post">
          <!-- <img class="mb-4" src="images\ricardo-rocha-TtsEBUkwPs8-unsplash.jpg" alt="" width="72" height="57"> -->
          <h1 class="h3 mb-3 fw-normal">Sign up</h1>
          <div class="form-floating">
            <input type="text" class="form-control top" id="floatingPassword" name="Username" required autofocus>
            <label for="floatingPassword">User name</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control middle" id="floatingPassword" name="Email" required autofocus>
            <label for="floatingPassword">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control middle" id="floatingInput" name="Password" required>
            <label for="floatingInput">Password</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control bottom" id="floatingInput" name="RePassword" required>
            <label for="floatingInput">Re-Enter Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
      </main>
      </div>
</form>
{%endblock%}