{%extends "base.html"%}
{%block title%}α Motor Works{%endblock%}
{%block navbarlist%}
<ul class="navbar-nav ms-auto me-3">
  <li class="dropdown custom-accicon-div active d-flex justify-content-center align-items-center ">
    <a href="#" class="custom-accicon fa-solid fa-user" data-bs-toggle="dropdown" aria-expanded="false"></a>
    <div class="dropdown-menu">
        <div class="row g-0 custom-cust-card ">
            <div class="col-sm-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <i class="custom-accicon-form fa-solid fa-user"></i>
              <h5>Marie Horwitz</h5>
              <p>Staff</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-sm-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p >info@example.com</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p >123 456 789</p>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p >Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p>Dolor sit amet</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </li>
  <li class="nav-item" style="padding: 0%;">
    <a class="nav-link" href="/Logout" style="display:inline-block; padding-left: 1px;">Logout</a>
  </li>
</ul>
{%endblock%}
{%block content%}
<!-- login message -->
{%with messages = get_flashed_messages()%}
{%for message in messages%}
{%if message%}
<div class="alert active fade bd-example-modal-sm modal show" role="dialog" id="loginmsgstaff" style="display: block;" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-modal="true">
  <div class=" modal-dialog modal-sm d-flex ">
    <div class=" modal-content custom-modal1" >
      <button type="button" class="btn ms-auto" data-bs-dismiss="alert" >&times;</button>
      <h3 style="display: inline;">{{message[0]}} </h3>
      <hr>
      <p>{{message[1]}}</p>
    </div>
  </div>
</div>
{%endif%}
{%endfor%}
{%set messages=none%}
{%endwith%}





<div class="row">






<div class="col-sm-9 d-flex justify-content-center align-items-center" id="cust-body">

{%for req in reqlist%}
<div style="margin-top: 150px; margin-bottom: 100px;">
  <form class="appoint-form appoint-form-none " id="cust-req" action="/Staff" method="post">
    <h3 class="d-flex justify-content-center pb-4">Request from Customer</h3>
    <div class="form-floating mb-4">
      <p>Request no.</p>
      <p>{{req.id}}</p>
      </div>
    <div class="form-floating mb-4">
    <p>customer no</p>
    <p>{{req.cust_id}}</p>
    </div>
    <div class="form-floating mb-4">
    <p>vehical no</p>
    <p>{{req.veh_id}}</p>
    </div>
    <div class="form-floating mb-4">
    <p>Requested date</p>
    <p>{{req.selected_date}}</p>
    </div>
    <div class="form-floating mb-4">
    <p>Additional servive</p>
    {%for ser in req.req.split()%}
    <p>{{ser}}</p><br>
    {%endfor%}
    </div>
    <div class="row">
      <div class="col-sm-4">
      <input type="radio" id="accept" name="acc-rej" value="1{{req.id}}">
      <label for="accept">Accept</label>
    </div>
    <div class="col-sm-4">
      <input type="radio" id="reject" name="acc-rej" value="0{{req.id}}">
      <label for="accept">Reject</label>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
{%endfor%}


<div class="" style="margin-top: 150px; margin-bottom: 100px;">
    <form class="appoint-form appoint-form-none " id="bill-form">
        <h3 class="d-flex justify-content-center pb-4">List of items</h3>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <!-- Text input -->
        <div class="form-floating mb-4">
          <input type="text" id="form6Example1" class="form-control" name="custId" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example1">Customer Id</label>
        </div>
        <div class="form-floating mb-4">
          <input type="text" id="form6Example2" class="form-control" name="chasisNo" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example2">Chasis Number</label>
        </div>
        <div class="form-floating mb-4">
          <input type="text" id="form6Example3" class="form-control" name="orderId" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example3">Order number</label>
        </div>
      
        <!-- Text input -->
        <!-- <div class="form-floating mb-4">
          <input type="checkbox" id="form6Example4" class="form-control" name="req_service" placeholder="name@example.com"/>
          <label class="form-label" for="form6Example4">Service Type</label>
          <input type="check">
        </div> -->
        <div class="form-control">
          <h6>Select Service</h6>
          <div class="row">
            <div class="col-sm-3">
              <input type="checkbox" id="check1" name="service" value="a">a
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price1" placeholder="Rs">
              <br>
              <input type="checkbox" id="check1" name="service" value="Air Filter">b
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price2" placeholder="Rs">
              <br>
              
            </div>
            <div class="col-sm-3">
                <input type="checkbox" id="check1" name="service" value="Battery">c
                <input style="width: 150px;" class="form-control" type="text" id="value1" name="price3" placeholder="Rs">
              <br>
              <input type="checkbox" id="check1" name="service" value="Spark Plug">d
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price4" placeholder="Rs">
            </div>
            
            <div class="col-sm-3">
              <input type="checkbox" id="check1" name="service" value="Fuel Filter">e
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price5" placeholder="Rs">
              <br>
              <input type="checkbox" id="check1" name="service" value="Body Wash">f
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price6" placeholder="Rs">
              <br>
              
            </div>
            <div class="col-sm-3">
                <input type="checkbox" id="check1" name="service" value="Wheel Alignment">g
                <input style="width: 150px;" class="form-control" type="text" id="value1" name="price7" placeholder="Rs">
              <br>
              <input type="checkbox" id="check1" name="service" value="Wheel Balance">h
              <input style="width: 150px;" class="form-control" type="text" id="value1" name="price8" placeholder="Rs">
            </div>
              
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<div class="dashboard col-sm-3" >
  <div style="position: fixed;">
    <h3 style="color: azure; margin-left: 15px">DashBoard</h3>
    <ul style=" display: inline-block; list-style: none;">
        <li>
            <a id="from-cust-req" href="#">Customer requests</a>
        </li>
        <li>
            <a id="gen-bill" href="#">Generate Bill</a>
        </li>
        <li>
            <a id="payment-dash" href="#">Payment</a>
        </li>
    </ul>
  </div>
</div>
</div>
{%endblock%}
